.card {
  height: auto;
  max-width: 270px;
  margin: $spacing-base * 3;
  text-align: left;
  background-color: $light;
  border-radius: $spacing-base;
  padding: $spacing-base;
  transition: ease 0.15s;

  &:hover {
    padding: $spacing-base;
  }

  &__image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px 40px 0px;
  }

  &__image {
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(28, 31, 36, 0.161);
  }

  &__info {
    padding: 20px 20px 0;
    height: 124px;
    background: $dark;
    border-radius: 4px;
  }

  &__description {
    font-size: 12px;
    line-height: 20px;
    color: $light;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    color: $light;
  }

  iframe {
    height: 300px;
    border: none;
    width: 240px;
  }
}

.light {
  .card {
    background-color: $dark;

    &__info {
      background: $light;
    }

    &__description {
      color: $dark;
    }

    &__title {
      color: $dark;
    }
  }
}