.card {
  height: auto;
  max-width: 270px;
  margin: $spacing-base * 3;
  text-align: left;
  background-color: $primary;
  border-radius: $spacing-base;
  padding: $spacing-base;
  transition: ease 0.15s;

  &:hover {
    padding: $spacing-base;
  }

  &__image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 20px 40px 0px
  }

  &__image {
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(28, 31, 36, 0.161);
  }

  &__info {
    padding: 20px 20px 0px;
    height: 124px;
    background: #fff;
    border-radius: 4px;
  }

  &__description {
    font-size: 12px;
    line-height: 20px;
    color: #000;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    color: $primary;
  }

  iframe {
    height: 300px;
    border: none;
    width: 240px;
  }
}

