.container {
  max-width: 680px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
}

.page-title {
  margin-bottom: 20px;
  opacity: 0.8;

  &:before {
    content: '#';
  }
}


@media (max-width: 768px) {
  .row {
    padding-left: 0;
    padding-right: 0;

    >* {
      padding-left: 0;
      padding-right: 0;
    }
  }
}