.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


  &__name {
    font-family: 'la-sonnabula';
    text-decoration: underline;
    color: #cb734d;
    text-transform: capitalize;
  }

  &__contact {
    width: 100%;
    border: 4px solid #cb734d;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 24px;
  }
}


@media only screen and (max-width: 991px) {
  .details {
    width: 100%;
  }

  section {
    height: 100vh;
  }
}