.journal-item {
  margin-bottom: 42px;
}

.date {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 8px;
  opacity: 0.6;
}

.breadcrumb {
	opacity: 0.8;

	&:before {
		content: '\2190';
	}
}

.title {
  font-weight: bold;
	margin: 0px 0px 1.5rem;
  color: $primary;
  display: block;
}

.description {
font-size: 16px;
line-height: 24px;
}

article {
	width: 100%;
	line-height: 2em;
	letter-spacing: 2px;
	div {
		width: 100%;
		height: 100%;
		margin-bottom: 1em;
	}
	h1, h2, h3, h4, h5 {
		margin: 1em 0em;
		text-align: left;
	}
	p {
		display: block;
		margin-bottom: 1em;
		letter-spacing: 1.5px;
	}
	.highlight {
		width: 100%;
	}
	pre {
		border-radius: 3px;
		padding: 1rem;
		overflow-x: auto;
		background-color: #f5f5f5;
		width: 100%;
		margin-bottom: 1em;
		>code {
			border: none;
		}
	}
	code {
		font-size: 0.9rem;
		font-family: "Source Code Pro", monospace;
		padding: 0.1rem;
		border-radius: 4px;
		border: 1px solid #cccccc;
		color: $primary;
	}
	img {
		width: 100%;
		max-width: 600px;
		display: block;
		margin: 2rem auto;
    opacity: 1;
		border-radius: 4px;
		border: 2px solid $primary;
	}
	blockquote {
    padding: 1rem;
    margin: 1rem;
    border-left: 2px solid $primary;
    background: transparent;
    text-transform: inherit;
    font-style: italic;

		ul {
			margin-top: 1rem;
		}
		li {
			list-style: disc;
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		margin: 1rem 0;
		overflow-x: auto;
		th {
			font-size: 0.9rem;
			padding: 2px 5px;
			text-align: center;
			border: 1px solid #cccccc;
		}
		td {
			padding: 2px 5px;
			text-align: center;
			border: 1px solid #cccccc;
		}
	}
	li {
		line-height: 2;
		padding-left: 0.4rem;
		&:last-child {
			margin-bottom: 1rem;
		}
	}
	ul {
		list-style: disc outside;
		padding-left: 2rem;
	}
	ol {
		list-style: decimal outside;
		padding-left: 2rem;
	}
	.gist {
		max-width: 100%;
		td {
			text-align: left;
			border: 0;
		}
		th {
			text-align: left;
			border: 0;
		}
		.gist-meta {
			background-color: transparent;
			color: #fff;
			a {
				color: #fff;
			}
		}
	}

	hr {
		display: block;
		border: 0;
		height: 0.25rem;
		margin: 4rem auto;
		width: 300px;
		background-size: 100% 26px;
		background-color: $primary;
	}
}
