.container {
  max-width: 768px;
  margin: auto;

  &--xl {
    width: 1320px;
  }
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;

  >* {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
}