.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  height: 280px;
  margin: 20px;
  text-align: left;
  border: 1px solid #CB734D;
  border-radius: 4px;

  &__image-container {
    width: 100%;
    background-color: #ECDFBC;
    height: 50%;
    overflow: hidden;
    position: relative;
    padding: 20px 40px 0px
  }

  &__image {
    display: block;
    margin: auto;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(28, 31, 36, 0.161);
  }

  &__info {
    padding: 20px 20px 0px;
    height: 50%;
    background: #fff;
  }

  &__description {
    font-size: 12px;
    line-height: 20px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    color: #CB734D;
  }
}

@media (max-width: 960px) {
  .product {
    height: 240px;
  }
}

@media (max-width: 768px) {
  .product {
    height: 220px;

    &__image-container {
      padding: 4px 12px 0px
    }

    &__image {
      height: 100%;
    }
  }
}

  @media (max-width: 320px) {
    .product {
      height: 180px;

      &__image-container {
        padding: 12px 12px 0px;
      }
    }
  }