@font-face {
  font-family: 'la-sonnabula';
  src: url('./fonts/la-sonnambula.ttf');
}

@font-face {
  font-family: 'raleway-regular';
  src: url('./fonts/Raleway-Regular.ttf');
}

// Headings
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: $line-height-base;
}

h1,
.h1 {
  font-size: $h1-font-size;
}

h2,
.h2 {
  font-size: $h2-font-size;
}

h3,
.h3 {
  font-size: $h3-font-size;
}

h4,
.h4 {
  font-size: $h4-font-size;
}

h5,
.h5 {
  font-size: $h5-font-size;
}

// Text

p {
  font-size: $font-size-base;
}

.small {
  font-size: $font-size-small;
}

a,
a:hover,
a:visited {
  color: $primary;

}

a:hover {
  text-decoration: underline
}